.container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--bg-color-light);
}

.input {
    display: none
}

.input:checked + label {
    color: var(--primary-color);
    background: var(--bg-color);
}

.label {
    cursor: pointer;
    padding: 0.2rem 0.8rem 0.5rem 0.8rem;
    transition: color 0.5s;
    border-radius: 10px;
}

.label:hover {
    color: var(--primary-color);
}