.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem;
   background-color: var(--bg-color);
   border-radius: 50px;
   width: 250px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;

}

.button > svg {
    width: 20px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
}

.button:hover > svg {
    fill: #fff;
}

.input {
    background: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 0.8rem;
    width: 240px;
}

.input::placeholder {
    color: #FFF;
}